*,
*::after,
*::before {
	/* padding is included in (Not added on) the width */
	box-sizing: border-box;
}

/* Custom Properties */

:root {
	--ff-primary: "Source Sans Pro", sans-serif;

	--fw-reg: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	--clr-light: #fafafa;
	--clr-dark: #151515;
	--clr-grey: #505050;

	--fs-h1: 2rem;
	--fs-h2: 1.5rem;
	--fs-body: 1rem;
	--fs-footer: 0.75rem;
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 2.5rem;
	}
}

/* General styles */

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--clr-light);
	color: var(--clr-dark);
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.5;
}

header {
	padding: 15px 20px;
}

section {
	padding: 2em 1.8em;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

p {
	/* margin-top: 0; */
	line-height: 1.5;
}

.container {
	width: 90%;
	max-width: 900px;
	padding: 2.5rem 0;
	margin: 0 auto;
}

article {
	margin-bottom: 1em;
}

img {
	width: 100%;
}

.hidden {
	display: none;
}

/* Buttons / link */
.underline-btn {
	text-decoration: underline;
	cursor: pointer;
}

.read-more-link {
	flex-shrink: 0;
	color: antiquewhite;
}

.view-more-btn {
	font-weight: var(--fw-semi-bold);
	border: none;
	background: none;

	grid-column: 1/-1;
	justify-self: center;
	align-self: end;
}

/* Typography */

.logo-text {
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-h2);
	letter-spacing: -0.03em;
}

.section__title {
	font-size: var(--fs-h1);
	font-weight: var(--fw-bold);
	margin-top: 0.3em;
}

.section__date,
.article__date {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.article__title {
	font-size: var(--fs-h2);
	margin: 0.5em 0 0.35em 0;
}

.article__date,
.article__preview {
	color: #505050;
}

/* Layout */

/* header nav */
.logo img {
	width: 1.5rem;
	margin-right: 0.3em;
	max-width: 100px;
}

/* intro section */
.hero {
	background-image: url("../images/mobile-image-hero.png");
	background-size: cover;
	background-repeat: no-repeat;

	color: var(--clr-light);

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 20vw;
}

/* main section */
.posts {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.article__img {
	margin-bottom: 0.5em;
}

.article__preview {
	margin-top: 0;
}

/* footer */
.footer{
	background-color: var(--clr-dark);
	color: var(--clr-light);
	text-align: center;
	padding: 2.5em 0;
	letter-spacing: -0.03em;
}

.footer a{
	display: block;
}